<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vungtv.film">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".feature.loading.LoadingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".feature.home.HomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".feature.filtermovies.FilterMoviesActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".feature.personal.PersonalActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".feature.login.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity android:name=".feature.moviedetail.MovieDetailActivity" />

        <activity
            android:name=".feature.setting.SettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".feature.userinfo.UserInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".feature.changepass.ChangePassActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".feature.buyvip.BuyVipActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".feature.recharge.RechargeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity android:name=".feature.search.SearchActivity" />

        <activity
            android:name=".feature.logout.LogOutActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".feature.menumovies.MenuMoviesActivity" />

        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:name=".feature.favorite.FavoriteActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

    </application>

</manifest>